/*
=====================================================================================================
Description:
Css code for grading page and also includes css code for verifying target texts. 
It cretes css for side by side windows and control buttons
=====================================================================================================

Edited by: Zach Montgomery
Date: 10/18/14
Contact info: zmontgom@kent.edu
Changes made: Added verify_frame_next, verify_frame, and verify_text to include styling for verifying
				target	 
*/



.grade_div
{
display:none;
}

h4
{

font-size: 22px;
}

h3
{
font-size: 28px;
}


.gr_funct_div
{
text-align:center;
clear:both;
margin-right: auto;
margin-left: auto;
}

.grade_frame_next
{

width:49%;
height:300px;
float:right;

}

.verify_frame_next
{

width:49%;
height:65%;
float:right;

}

.form_css
{
margin-right: auto;
margin-left:auto;
width:100%;

}
.grade_frame
{
width:49%;
height: 300px;
float: left;
}

.verify_frame
{
width:50%;
height: 65%;
float: left;
}

.frame_text
{
width:100%;
padding: 1em;
background-color: white;
border: thin solid black;
overflow: auto;
text-align: left;
height: 250px;
}

.verify_text
{
width:100%;
padding: 1em;
background-color: white;
border: thin solid black;
overflow: auto;
text-align: left;
height: 500px;
}

.left
{
text-align:left;
}

p.center
{
text-align:center;
}

.formal_add
{
background-color:red;
}

.tr_add
{
background-color:yellow;
}

.gen_add
{
background-color:green;
}

optgroup.formal_add option
{
background-color: #CCC;
}

optgroup.tr_add option
{
background-color: #CCC;
}

optgroup.gen_add option
{
background-color: #CCC;
}

.select_box
{
width: 30em;
}
.size_box
{
width: 6em;
}
.comment
{
width: 30em;	
}
.frame_sizer
{
height: 400px;
}

.div_side_by_side
{
	width:100%;
	height:800px;
	border-style:solid;
	background-color:white;
	border-width:1px;
}