<!--
=====================================================================================================
Description:
Template for a user to change his/her password. Uses Django form ChangeEmailForm from forms.py. 
=====================================================================================================

Edited by: Zach Montgomery
Date: 10/18/14
Contact info: zmontgom@kent.edu
Changes made: Added verify_frame_next, verify_frame, and verify_text to include styling for verifying
				target	 
=====================================================================================================
-->


{% extends "base/base.html" %}
{% load staticfiles %}
{% block body_block %}
<div id="login" style="width:300px; margin: 100px auto 0 auto;">
<form method="POST" action="/login/change-email/" id="changeEmailForm"> {% csrf_token %}
<fieldset>
<legend>Change Email</legend>
{% csrf_token %}
{{form}}
</fieldset>
<div class="row" style="text-align: center;">
	<button type="submit" class="small button" value="Submit">Change Email</button>
</div>

</form>
</div>
{% endblock %}