<!--
=====================================================================================================
Description:
Template for entering an exam record. Includes the Exam year, source and text language, and version number, 
	This template also includes a side-by-side view of the source texts along with the submitted target text. This allows
	the user to verify that the target text goes along with the correct source text. 
=====================================================================================================

Edited by: Zach Montgomery
Date: 10/18/14
Contact info: zmontgom@kent.edu
Changes made: Changed the view to incorporate the side by side view that allows the user to see the source text. 
					This is used as verification to check that the target text belongs to the correct source text.	 
-->


{% extends 'base/base.html' %}

{% load staticfiles %}

{% block body_block %}
	<h1>Enter Target Text for <b>{{exam}}</b></h1>
	<div class="row panel callout radius">
		<div class="large-12 columns">
			<form action="/records/enter-exam-record/{{ exam.examNumber }}/{% if passageNumber == '1' %}1{% else %}2{% endif %}/" method="post">{% csrf_token %}
				<div class="row">
					<div class="large-2 columns">
						<label for="examYear">Exam Year</label>
						<input id="examYear" name="examYear" type="text" value="{{ exam.sourceText1.year }}" disabled/>
					</div>
					<div class="large-2 columns">
						<label for="sourceLanguage">Source Language</label>
						<input id="sourceLanguage" name="sourceLanguage" type="text" value="{{  exam.sourceText1.sourceLanguage.language  }}" disabled/>
					</div>
					<div class="large-2 columns">
						<label for="targetLanguage">Target Language</label>
						<input id="targetLanguage" name="targetLanguage" id="targetLanguage" type="text" value="{{  exam.sourceText1.targetLanguage.language  }}">
					</div>
					<div class="large-2 columns">
						<label for="setNumber">Set Number</label>
						<input id="setNumber" name="setNumber" type="text" value="{{  exam.sourceText1.setNumber  }}" disabled>	
					</div>
					<div class="large-2 columns">
						<label for="passageLetter">Passage Letter</label>
						<input id="passageLetter" name="passageLetter" type="text" value="{{  exam.sourceText1.passageLetter  }}" disabled>	
					</div>
					<div class="large-2 columns">
						<label for="versionNumber">Version Number</label>
						<input id="versionNumber" name="versionNumber" type="text" value="{{  exam.sourceText1.versionNumber  }}" disabled>
					</div>												
				</div>


			<section class="verify-side-by-side">
			<div>
				<div class="float-l verify_frame" id="source_box">
					<h3>Source Text</h3>

						<div class="verify_text"  id="source_grading_box" name ="source">
							{% if passageNumber == "1" %}{{ exam.sourceText1.text}}{% else %}{{ exam.sourceText2.text }}{% endif %}
						</div>

				</div>

				<div class="float-l verify_frame_next" id="target_box" name="target">
					<h3>Target Text</h3>
						<div class="verify_text"  id="target_grading_box">
							<textarea style="height:100%" id="text" name="text">{% if passageNumber == "1" %}{{ exam.targetText1.text }}{% else %}{{ exam.targetText2.text }}{% endif %}</textarea>			
						</div>
				</div>

				
				<input class="button radius" style="margin:10px" type="submit" value="Submit Source" name="submitSource">
				<input class="button radius" style="margin:10px" type="reset"  name="reset">

				<input class="button radius" style="margin:10px" type="button" id="pdf" name="pdf" value="View PDF Scan" onclick="return popup('/static/pdf/example.pdf', 'PDF Scan')"/>
			</form>
		</div>
	</div>
{% endblock %}