{% extends 'base/base.html' %}

{% load staticfiles %}

{% block body_block %}
<div class="row panel callout radius">
	<div class="large-12 columns">
		<h1>Home Page ATA Certification Exam Database</h1>
		<h2>Recent Features</h2>
		<p>1- jan 31 grading form located at url ext /grade/exam/ login/user Name button top right home page then click a temp link under to be graded. submision will output post vars to tem page</p>
		<p>2- jan 31 Enter new source form located at url ext /texts/enter-new-source/ from home page Texts Admin then Enter New Source button. submision will output post vars to tem page</p>
	</div>
</div>

{% endblock %}