<!--
=====================================================================================================
Description:
The workflow page is the main page of the translation project. This page will hold the buttons that allow a user 
create legacy exams, source texts, and run analysis on the data held in the database. The page includes tabs that separate
the different parts of the translation software. These include exams that still need the target texts inputted in 
"Exam Input", Exams that still need to be graded in "Grading", as well as discrepencies in graded exams in "Discrepencies"
=====================================================================================================

Edited by: Zach Montgomery
Date: 10/23/14
Contact info: zmontgom@kent.edu
Changes made: Added names for single elements so that we can run permission checking on them and remove the option if the user
				does not have the appropriate permissions. Names will be given to: Drop down buttons for Legacy Exams, Source Texts, and Analysis, along with the different tabs.  
				

             _________________________div id: drop-down-nav____________________________________
			|	 ____________________    _____________________     ________________________    | 
			|	|Legacy Exam:        |  |Source Text:         |   |Analysis:               |   |
			|	| id: exam-drop-down |	| id: source-drop-down|   | id: analysis-drop-down |   |
			|	|____________________|  |_____________________|   |________________________|   |
			|__________|_______________________|____________________________|__________________|
				       V                       V                            V
			 	
			  __ul id: drop1_________    ___ul id: drop2________    ______ul id: drop3___________
			 |	 __________________  |  |  ___________________  |  |   ________________________  |
			 |	|Enter Legacy Exam:| |  | | Enter Source Text | |  |  | Analysis Workflow Page | |
			 |	|   id: enter-exam | |  | |   id: enter-source| |  |  |    id: analysis-page   | |
			 |	|__________________| |  | |___________________| |  |  |________________________| |
			 |_______________________|	| | View all sources  | |  |  |  View Graded Exams     | |
									    | |	 id: view-source  | |  |  |    id: view-graded     | |
										| |___________________| |  |  |________________________| |
									    |_______________________|  |_____________________________|


	__id: exam-tab_____id: target-tab___id: discrep-tab____id: source-queue-tab____id: source-discrep-tab____id: grade-tab___
   |                 |                |                  |                      |                          |                 |
   |   Exam Input    |  Target Text   |   Discrepencies  |      Source Queue    |      Source Discrep      |     Grading     |
   |_________________|________________|__________________|______________________|__________________________|_________________|		

   
Edited by: Abdullah Mashabi
Date:10/23/14
Contact Info: amashabi@kent.edu
Changes made: Remove unnecessary reviewing functionality for workflow page. (Ticket #607)  


Edited by: Zach Montgomery
Date:10/28/14
Contact Info: zmontgom@kent.edu
Changes Made: Added JQuery functionality to gather objects based off of group permissions
		to allow the web page to dynamically be loaded only with the objects 
		available for that particular user			   
-->



{% extends 'base/base.html' %}

{% load staticfiles %}

{% block body_block %}

<!--When adding reviewSourceText functionality, the below <style> needs to be removed-->

	<div class="row" style="margin-top:50px">
		<div class="small-12 columns t-center">
			<ul id="drop-down-nav" class="workflow-button-group radius button-group">
			  	<li><a id="exam-drop-down" href="#" data-dropdown="drop1" class="button small dropdown">Legacy Exam</a><br>
					<ul id="drop1" data-dropdown-content class="f-dropdown">
			  			<li><a id="enter-exam" href="/records/enter-exam/">Enter Legacy Exam</a></li>
			  			<li><a id="view-exams" href="/records/viewExams">View Exams</a></li>						
			  		</ul>
				</li>
			  	<li><a id="source-drop-down" href="#" data-dropdown="drop2" class="button small dropdown">Source Text</a><br>
					<ul id="drop2" data-dropdown-content class="f-dropdown">
			  			<li><a id="enter-source" href="/texts/enter-new-source/">Enter New Source Text</a></li>
						<li><a id="view-source" href="/texts/list-of-all-source-texts/">List all sources</a></li>
					</ul>
				</li>	
			  	<li><a id="analysis-drop-down" href="#" data-dropdown="drop3" class="button small dropdown">Analysis</a><br>
					<ul id="drop3" data-dropdown-content class="f-dropdown">
			  			<li><a id="analysis-page" href="/analysis/">Analysis Workflow Page</a></li>
	  					<li><a id="analysis-designer" href="/analysis/rDesigner">R Function Designer</a></li>	  
					</ul>
				</li>			  			  
			</ul>
		</div>
	</div>
	
	<div class="row">
	
		<div class="small-12 small-centered columns panel callout radius profile-content">
			<!-- commenting out the 3 pages below to remove reviewing structure -->
			<div class="center-tabs">
				<dl id="tabs" class="tabs" data-tab>
			  		<dd><a id="exam-tab" href="#panel2-1">Exam Input</a></dd>
					<!-- 1- <dd id="target-tab"><a href="#panel2-2">Target Text</a></dd> -->
					<dd><a id="grade-tab" href="#panel2-6">Grading</a></dd>
					<dd><a id="disscrep-tab" href="#panel2-3">Discrepancies</a></dd>
			  		<!-- 2- <dd id="source-queue-tab"><a href="#panel2-4">Source Queue</a></dd> -->				
			  		<!-- 3- <dd id="source-discrep-tab"><a href="#panel2-5">Source Disc</a></dd> -->			
				</dl>
			</div>
			<div class="tabs-content">
			  	<div class="content" id="panel2-1">
			    	<p>Exams to be inputed.</p>
			  		
			    	<p align="center">
			    	<table style="margin-left: auto; margin-right: auto;">

			    	{% for examToInput in examsToInput %}
			  		<tr>
			  			<td>Exam # {{ examToInput.exam.examNumber  }} </td>
						<td><a href="/records/enter-exam-record/{{examToInput.exam.examNumber}}/{{ examToInput.targetTextNumber}}/">{% if examToInput.targetTextNumber == 1 %}  A {% else %} {{ examToInput.exam.secondPassage  }}  {% endif %}</a></td>
			  		<tr/>
			  		{% endfor %}

			  		</table>
			  		</p>
			  	</div>
				<div class="content" id="panel2-2">
			    	<p>Target texts that need verified.</p>
			  	
			  		{% for targetTextToReview in targetTextsToReview %}
			  		<p><a href="/records/verify-exam-record/{{ targetTextToReview.exam.examNumber }}/{% if targetTextToReview.exam.targetText1.pk == targetTextToReview.targetText.pk  %}1{% else %}2{% endif %}/">{{ targetTextToReview.exam.examNumber}}</a></p>
			  		{% endfor %}
			  	</div>			  				
			  	<div class="content active" id="panel2-3">
			    	<p>These have discrepancies.</p>		

			    	{% for discrepancy in discrepancies %}
			  		<p><a href="/grade/discrepancy-review/{{ discrepancy.pk  }}/">{{ discrepancy.pk  }}</a></p>
			  		{% endfor %}
			  	</div>
			  	<div class="content" id="panel2-4">
			    	<p>This area will be the que for new source texts needing reviewed before being locked to database.</p>
			    	{% for source in sourceReview %}
			    		<p></p>
			    		<li><a href="/texts/review-source/{{ source.source.id }}/">{{source.source}} ----- Importer #1: {{ source.source.importer1.username }}</a></li>
			    	{% endfor %}
			  	</div>
			  	<div class="content" id="panel2-5">
			    	<p>Source text discrepencies.</p>
			    	{% for source in sourceDiscrepency %}
			    		<p></p>
			    		<li><a href="/texts/review-source-descrepency/{{ source.originalSource.id }}/">{{source.originalSource}} ----- Importer #1: {{ source.originalSource.importer1.username }}</a></li>
			    	{% endfor %}			    	
			  	</div>
			  	<div class="content" id="panel2-6">
			    	<p>Exams to be highlighted/Graded.</p>
			    	<p align="center">
			    	<table style="margin-left: initial; margin-right: initial;">

			    	{% for examToGrade in examsToGrade %}
			  		<tr>
						<td>Exam # {{ examToGrade.exam.examNumber  }} </td>
						<td><a href="/grade/exam/{{ examToGrade.exam.examNumber}}/{{ examToGrade.passageLetter }}/">{% if examToGrade.targetTextNumber == 1 %}  A {% else %} {{ examToGrade.exam.secondPassage  }}  {% endif %}</a></td>
			  		<tr/>
			  		{% endfor %}

			  		</table>
			  		</p>

			  	</div>
			</div>
		</div>
	</div>



<!-- Example JQuery that hides certain parts of the workflow page. 

	<script type="text/javascript">
	    {% for object in userObjects %}
	    var name = '#' + '{{object.permObject.objectName}}';
		$(name).remove();
	    {% endfor %}

ls

	</script>
-->
{% endblock %}
