<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	{% block title %}<title>ATA Translation</title>{% endblock %}
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/foundation.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/grade.css' %}" />
	<script type="text/javascript" src="{% static 'js/grade.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/modernizr.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/dropzone.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
</head>
<body>
	<div class="contain-to-grid sticky">
		<nav class="top-bar" data-topbar>
			<ul class="title-area">
				<li class="name">
					<h1><a style="padding-left:0px" href="/">Translation</a></h1>
				</li>
			</ul>

			<section class="top-bar-section">
				<!-- Right Nav Section -->
				<ul class="right">
					{% if user.is_authenticated %}
					<li><a style="align:center" href="/admin">Admin</a></li>
					<li><a href="/login/logout/"> Logout </a></li>
					<li><a href="/profile/{{ user }}/">{{ user }}</a></li>
					{% else %}
					<li><a href="/login/"> Login </a></li>
					{% endif %}
				</ul>
			</section>
		</nav>
	</div>

	{% block body_block %} This is default template content {% endblock %}
	<script src="{% static 'js/fastclick.js' %}"></script>
	<script src="{% static 'js/foundation.min.js' %}"></script>
	<script>$(document).foundation();</script>
</body>
</html>
