<!-- 
===================================================================================================
Description:  index.html for the administration page .  
===================================================================================================

Edited by: Abdullah Mashabi
Date:10/31/14
Contact Info: amashabi@kent.edu
Changes made: Added the groups section. (Ticket #632) 

Edited by:Zach Montgomery
Date: 11/14/14
Contact Info: zmontgom@kent.edu
Changes Made: First check if admin is in checking state or in project state. If checking state then set the 
checking checkbox to be selected. If admin selects this checkbox then, set check variable to True to be used 
throughout the pages to allow the admin to search the pages for object names and reload those variables later. 

For Testing purposes, allow admin to click button to load the data onto the page

================================================================================================== -->

{% extends 'base/base.html' %}

{% load staticfiles %}

{% block body_block %}
<div class="row">
	<div class="large-12 columns">
  		<h1>Administration</h1>
	</div>
</div>

<div class="row">
	<div class="small-12 small-centered columns panel callout radius profile-content">
		<div class="center-tabs">
			<dl class="tabs" data-tab>
				<dd><a id="admin-users" href="#users">Users</a></dd>
				<dd><a id="admin-groups" href="#groups">Groups</a></dd>
				<dd><a id="admin-permission-types" href="#permissiontypes">Permission Types</a></dd>
				<dd><a id="admin-permission-objects" href="#permissionobjects">Permission Objects</a></dd>
			</dl>
		</div>
		<div class="tabs-content">
			<div class="content" id="users">
				<div class="row">
				{% include "maint_users.html" %}
				</div>
			</div>
			<div class="content" id="groups">
				<div class="row">
					{% include "maint_groups.html" %}
				</div>
			</div>

			<div class="content" id="permissiontypes">
				<div class="row">
					{% include "maint_perm_types.html" %}
				</div>
			</div>
			<div class="content" id="permissionobjects">
				<div class="row">
					{% include "maint_perm_objects.html" %}

			</div>
		</div>

	</div>
</div>
{% endblock %}



<!-- =====   End of index.html  ===== -->